name: Dependencies Audit

on:
  schedule:
    - cron: "*/60 * * * *"

jobs:
  update-dependencies:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the head commit of the branch
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Use pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: latest

      - name: Use node
        uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Dependencies audit
        run: pnpm audit --fix

      - name: Installing dependencies
        run: pnpm i

      - name: Installing Chromium Driver
        run: pnpm exec playwright install chromium

      - name: Run command
        uses: ctux/simple-pull-request-gh-action@1.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch_main_name: "'master'"
          branch_pr_name: "'dependencies-audit'"
          commit_message: "'fix(dependencies): updates after audit'"
