name: Lint & Test & Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v2

      - name: Using pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: latest

      - name: Use node
        uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Installing dependencies
        run: pnpm i

      - name: Running ESLint
        run: pnpm run lint

      - name: Running Vitest
        run: pnpm run test:vitest

      - name: Installing Chromium Driver
        run: pnpm exec playwright install chromium

      - name: Running Playwright
        run: pnpm run test:playwright

  tests:
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Running Vitest
        run: pnpm run test:vitest

      - name: Installing Chromium Driver
        run: pnpm exec playwright install chromium

      - name: Running Playwright
        run: pnpm run test:playwright

  build:
    runs-on: ubuntu-latest
    needs: [lint, tests]

    steps:
      - name: Running Build
        run: pnpm run build

      - name: Running Storybook Build
        run: pnpm run build:storybook
